@import "reset";
@import "type";

$primary-color: saddlebrown;
$body-font: "Jost";
$body-size: 24px;
$mq-large: 800px;
$mq-medium: 600px;

@mixin mq($width) {
	@media (max-width: $width) {
		@content;
	}
}

@mixin v-mid() {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

@mixin center () {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}


body {
	background-color: $primary-color;
	color: #ffffff;
	font-family: $body-font;
	font-size: $body-size;
	line-height: 1.5;

	height: 100vh;	
	@include v-mid();
		
}

section {
	width: 500px;
	@include mq($mq-medium) {
		width: 350px;
		font-size: 16px;
	}

	
	p {
		margin: 24px 0 0 0;
	}
}